USE [master]
GO
/****** Objeto: Database [Hospital] Fecha de script: 3/06/2026 04:57:38 ******/
CREATE DATABASE [Hospital]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hospital', FILENAME = N'C:\Users\Angel\Hospital.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hospital_log', FILENAME = N'C:\Users\Angel\Hospital_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hospital].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hospital]
GO
/****** Objeto: Table [dbo].[Auditoria] Fecha de script: 3/06/2026 04:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditoria](
	[id_auditoria] [int] IDENTITY(1,1) NOT NULL,
	[tabla] [varchar](100) NOT NULL,
	[accion] [varchar](20) NOT NULL,
	[usuario_bd] [varchar](100) NOT NULL,
	[fecha] [datetime2](7) NOT NULL,
	[datos_anteriores] [nvarchar](max) NULL,
	[datos_nuevos] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DetalleFactura] Fecha de script: 3/06/2026 04:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFactura](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_factura] [int] NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Especialidad] Fecha de script: 3/06/2026 04:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidad](
	[id_especialidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[estado] [bit] NOT NULL,
	[eliminado] [bit] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_especialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Estado] Fecha de script: 3/06/2026 04:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[id_estado] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[estado] [bit] NOT NULL,
	[eliminado] [bit] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Factura] Fecha de script: 3/06/2026 04:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[id_factura] [int] IDENTITY(1,1) NOT NULL,
	[numero_factura] [varchar](50) NOT NULL,
	[id_paciente] [int] NOT NULL,
	[id_reserva] [int] NULL,
	[fecha_factura] [datetime2](7) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
	[igv] [decimal](10, 2) NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
	[estado_pago] [varchar](20) NOT NULL,
	[eliminado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[HistoriaClinica] Fecha de script: 3/06/2026 04:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoriaClinica](
	[id_historia] [int] IDENTITY(1,1) NOT NULL,
	[id_paciente] [int] NOT NULL,
	[id_medico] [int] NOT NULL,
	[id_reserva] [int] NULL,
	[fecha_consulta] [datetime2](7) NOT NULL,
	[motivo_consulta] [varchar](max) NOT NULL,
	[diagnostico] [varchar](max) NULL,
	[tratamiento] [varchar](max) NULL,
	[receta_medica] [varchar](max) NULL,
	[observaciones] [varchar](max) NULL,
	[peso] [decimal](5, 2) NULL,
	[altura] [decimal](5, 2) NULL,
	[temperatura] [decimal](4, 2) NULL,
	[presion_arterial] [varchar](20) NULL,
	[frecuencia_cardiaca] [int] NULL,
	[saturacion_oxigeno] [int] NULL,
	[eliminado] [bit] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_historia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[HorarioMedico] Fecha de script: 3/06/2026 04:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorarioMedico](
	[id_horario] [int] IDENTITY(1,1) NOT NULL,
	[id_medico] [int] NOT NULL,
	[dia_semana] [varchar](20) NOT NULL,
	[hora_inicio] [time](7) NOT NULL,
	[hora_fin] [time](7) NOT NULL,
	[estado] [bit] NOT NULL,
	[eliminado] [bit] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Medico] Fecha de script: 3/06/2026 04:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medico](
	[id_medico] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](100) NOT NULL,
	[apellidos] [varchar](100) NOT NULL,
	[genero] [char](1) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[email] [varchar](255) NOT NULL,
	[telefono] [varchar](20) NULL,
	[direccion] [varchar](255) NULL,
	[imagen] [varchar](255) NULL,
	[numero_colegiatura] [varchar](50) NULL,
	[estado] [bit] NOT NULL,
	[eliminado] [bit] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[fecha_actualizacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_medico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[MedicoEspecialidad] Fecha de script: 3/06/2026 04:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicoEspecialidad](
	[id_medico_especialidad] [int] IDENTITY(1,1) NOT NULL,
	[id_medico] [int] NOT NULL,
	[id_especialidad] [int] NOT NULL,
	[fecha_asignacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_medico_especialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Paciente] Fecha de script: 3/06/2026 04:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[id_paciente] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](100) NOT NULL,
	[apellidos] [varchar](100) NOT NULL,
	[genero] [char](1) NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[email] [varchar](255) NULL,
	[telefono] [varchar](20) NULL,
	[direccion] [varchar](255) NULL,
	[imagen] [varchar](255) NULL,
	[grupo_sanguineo] [varchar](5) NULL,
	[contacto_emergencia] [varchar](100) NULL,
	[telefono_emergencia] [varchar](20) NULL,
	[alergias] [varchar](max) NULL,
	[enfermedades_cronicas] [varchar](max) NULL,
	[observaciones] [varchar](max) NULL,
	[estado] [bit] NOT NULL,
	[eliminado] [bit] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[fecha_actualizacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Permiso] Fecha de script: 3/06/2026 04:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[id_permiso] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[estado] [bit] NOT NULL,
	[eliminado] [bit] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Reservacion] Fecha de script: 3/06/2026 04:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservacion](
	[id_reserva] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](150) NOT NULL,
	[nota] [varchar](max) NULL,
	[mensaje] [varchar](max) NULL,
	[fecha_cita] [date] NOT NULL,
	[hora_cita] [time](7) NOT NULL,
	[sintomas] [varchar](max) NULL,
	[observaciones] [varchar](max) NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[creado_en] [datetime2](7) NOT NULL,
	[estado] [bit] NOT NULL,
	[eliminado] [bit] NOT NULL,
	[id_paciente] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_medico] [int] NOT NULL,
	[id_pago] [int] NOT NULL,
	[id_estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Rol] Fecha de script: 3/06/2026 04:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[estado] [bit] NOT NULL,
	[eliminado] [bit] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RolPermiso] Fecha de script: 3/06/2026 04:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolPermiso](
	[id_rol_permiso] [int] IDENTITY(1,1) NOT NULL,
	[id_rol] [int] NOT NULL,
	[id_permiso] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol_permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TipoPago] Fecha de script: 3/06/2026 04:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPago](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[estado] [bit] NOT NULL,
	[eliminado] [bit] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 3/06/2026 04:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[nombres] [varchar](100) NOT NULL,
	[apellidos] [varchar](100) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[telefono] [varchar](20) NULL,
	[direccion] [varchar](255) NULL,
	[foto] [varchar](255) NULL,
	[estado_activo] [bit] NOT NULL,
	[eliminado] [bit] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[fecha_actualizacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[UsuarioRol] Fecha de script: 3/06/2026 04:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioRol](
	[id_usuario_rol] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_rol] [int] NOT NULL,
	[fecha_asignacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Auditoria] ON 

INSERT [dbo].[Auditoria] ([id_auditoria], [tabla], [accion], [usuario_bd], [fecha], [datos_anteriores], [datos_nuevos]) VALUES (1, N'Medico', N'INSERT', N'DESKTOP-4474HFE\Angel', CAST(N'2026-05-29T02:27:51.1300000' AS DateTime2), NULL, N'ID=3, Nombre=ROBERTO, Email=roberto.sanchez@hospital.com')
INSERT [dbo].[Auditoria] ([id_auditoria], [tabla], [accion], [usuario_bd], [fecha], [datos_anteriores], [datos_nuevos]) VALUES (2, N'Medico', N'INSERT', N'DESKTOP-4474HFE\Angel', CAST(N'2026-05-29T02:27:51.1300000' AS DateTime2), NULL, N'ID=2, Nombre=LAURA, Email=laura.fernandez@hospital.com')
INSERT [dbo].[Auditoria] ([id_auditoria], [tabla], [accion], [usuario_bd], [fecha], [datos_anteriores], [datos_nuevos]) VALUES (3, N'Medico', N'INSERT', N'DESKTOP-4474HFE\Angel', CAST(N'2026-05-29T02:27:51.1300000' AS DateTime2), NULL, N'ID=1, Nombre=CARLOS, Email=carlos.ramirez@hospital.com')
SET IDENTITY_INSERT [dbo].[Auditoria] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleFactura] ON 

INSERT [dbo].[DetalleFactura] ([id_detalle], [id_factura], [descripcion], [cantidad], [precio_unitario], [subtotal]) VALUES (2, 10, N'Secrecion bucal', 1, CAST(80.00 AS Decimal(10, 2)), CAST(80.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleFactura] ([id_detalle], [id_factura], [descripcion], [cantidad], [precio_unitario], [subtotal]) VALUES (3, 11, N'Secrecion bucal', 1, CAST(80.00 AS Decimal(10, 2)), CAST(80.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleFactura] ([id_detalle], [id_factura], [descripcion], [cantidad], [precio_unitario], [subtotal]) VALUES (4, 1, N'Consulta Médica Especializada', 1, CAST(150.00 AS Decimal(10, 2)), CAST(150.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetalleFactura] OFF
GO
SET IDENTITY_INSERT [dbo].[Especialidad] ON 

INSERT [dbo].[Especialidad] ([id_especialidad], [nombre], [descripcion], [estado], [eliminado], [fecha_creacion]) VALUES (1, N'CARDIOLOGÍA', N'Enfermedades del corazón y sistema circulatorio', 1, 0, CAST(N'2026-05-29T02:27:51.1033333' AS DateTime2))
INSERT [dbo].[Especialidad] ([id_especialidad], [nombre], [descripcion], [estado], [eliminado], [fecha_creacion]) VALUES (2, N'DERMATOLOGÍA', N'Trastornos de la piel, cabello y uñas', 1, 0, CAST(N'2026-05-29T02:27:51.1033333' AS DateTime2))
INSERT [dbo].[Especialidad] ([id_especialidad], [nombre], [descripcion], [estado], [eliminado], [fecha_creacion]) VALUES (3, N'PEDIATRÍA', N'Atención médica de niños y adolescentes', 1, 0, CAST(N'2026-05-29T02:27:51.1033333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Especialidad] OFF
GO
SET IDENTITY_INSERT [dbo].[Estado] ON 

INSERT [dbo].[Estado] ([id_estado], [nombre], [descripcion], [estado], [eliminado], [fecha_creacion]) VALUES (1, N'PENDIENTE', N'Cita pendiente', 1, 0, CAST(N'2026-05-29T00:45:08.8366667' AS DateTime2))
INSERT [dbo].[Estado] ([id_estado], [nombre], [descripcion], [estado], [eliminado], [fecha_creacion]) VALUES (2, N'CONFIRMADA', N'Cita confirmada', 1, 0, CAST(N'2026-05-29T00:45:08.8366667' AS DateTime2))
INSERT [dbo].[Estado] ([id_estado], [nombre], [descripcion], [estado], [eliminado], [fecha_creacion]) VALUES (3, N'CANCELADA', N'Cita cancelada', 1, 0, CAST(N'2026-05-29T00:45:08.8366667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Estado] OFF
GO
SET IDENTITY_INSERT [dbo].[Factura] ON 

INSERT [dbo].[Factura] ([id_factura], [numero_factura], [id_paciente], [id_reserva], [fecha_factura], [subtotal], [igv], [total], [estado_pago], [eliminado]) VALUES (1, N'F001-1', 1, 1, CAST(N'2026-05-29T02:27:51.2066667' AS DateTime2), CAST(150.00 AS Decimal(10, 2)), CAST(27.00 AS Decimal(10, 2)), CAST(177.00 AS Decimal(10, 2)), N'PAGADO', 0)
INSERT [dbo].[Factura] ([id_factura], [numero_factura], [id_paciente], [id_reserva], [fecha_factura], [subtotal], [igv], [total], [estado_pago], [eliminado]) VALUES (2, N'F001-2', 2, 2, CAST(N'2026-05-29T02:27:51.2066667' AS DateTime2), CAST(120.00 AS Decimal(10, 2)), CAST(21.60 AS Decimal(10, 2)), CAST(141.60 AS Decimal(10, 2)), N'PAGADO', 0)
INSERT [dbo].[Factura] ([id_factura], [numero_factura], [id_paciente], [id_reserva], [fecha_factura], [subtotal], [igv], [total], [estado_pago], [eliminado]) VALUES (3, N'F001-3', 4, 3, CAST(N'2026-05-29T02:27:51.2066667' AS DateTime2), CAST(90.00 AS Decimal(10, 2)), CAST(16.20 AS Decimal(10, 2)), CAST(106.20 AS Decimal(10, 2)), N'PAGADO', 0)
SET IDENTITY_INSERT [dbo].[Factura] OFF
GO
SET IDENTITY_INSERT [dbo].[HistoriaClinica] ON 

SET IDENTITY_INSERT [dbo].[HistoriaClinica] OFF
GO
SET IDENTITY_INSERT [dbo].[HorarioMedico] ON 

INSERT [dbo].[HorarioMedico] ([id_horario], [id_medico], [dia_semana], [hora_inicio], [hora_fin], [estado], [eliminado], [fecha_creacion]) VALUES (1, 1, N'LUNES', CAST(N'08:00:00' AS Time), CAST(N'14:00:00' AS Time), 1, 0, CAST(N'2026-06-03T03:00:43.3500000' AS DateTime2))
INSERT [dbo].[HorarioMedico] ([id_horario], [id_medico], [dia_semana], [hora_inicio], [hora_fin], [estado], [eliminado], [fecha_creacion]) VALUES (2, 2, N'MARTES', CAST(N'09:00:00' AS Time), CAST(N'13:00:00' AS Time), 1, 0, CAST(N'2026-06-03T03:00:43.3500000' AS DateTime2))
INSERT [dbo].[HorarioMedico] ([id_horario], [id_medico], [dia_semana], [hora_inicio], [hora_fin], [estado], [eliminado], [fecha_creacion]) VALUES (3, 3, N'MIERCOLES', CAST(N'14:00:00' AS Time), CAST(N'20:00:00' AS Time), 1, 0, CAST(N'2026-06-03T03:00:43.3500000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[HorarioMedico] OFF
GO
SET IDENTITY_INSERT [dbo].[Medico] ON 

INSERT [dbo].[Medico] ([id_medico], [nombres], [apellidos], [genero], [fecha_nacimiento], [email], [telefono], [direccion], [imagen], [numero_colegiatura], [estado], [eliminado], [fecha_creacion], [fecha_actualizacion]) VALUES (1, N'CARLOS', N'RAMIREZ GOMEZ', N'M', CAST(N'1980-03-15' AS Date), N'carlos.ramirez@hospital.com', N'999111222', N'Av. Principal 123', NULL, N'MED-001', 1, 0, CAST(N'2026-05-29T02:27:51.1166667' AS DateTime2), NULL)
INSERT [dbo].[Medico] ([id_medico], [nombres], [apellidos], [genero], [fecha_nacimiento], [email], [telefono], [direccion], [imagen], [numero_colegiatura], [estado], [eliminado], [fecha_creacion], [fecha_actualizacion]) VALUES (2, N'LAURA', N'FERNANDEZ DIAZ', N'F', CAST(N'1975-07-22' AS Date), N'laura.fernandez@hospital.com', N'999333444', N'Jr. Las Flores 456', NULL, N'MED-002', 1, 0, CAST(N'2026-05-29T02:27:51.1166667' AS DateTime2), NULL)
INSERT [dbo].[Medico] ([id_medico], [nombres], [apellidos], [genero], [fecha_nacimiento], [email], [telefono], [direccion], [imagen], [numero_colegiatura], [estado], [eliminado], [fecha_creacion], [fecha_actualizacion]) VALUES (3, N'ROBERTO', N'SANCHEZ PAREDES', N'M', CAST(N'1985-11-10' AS Date), N'roberto.sanchez@hospital.com', N'999555666', N'Calle Los Alamos 789', NULL, N'MED-003', 1, 0, CAST(N'2026-05-29T02:27:51.1166667' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Medico] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicoEspecialidad] ON 

INSERT [dbo].[MedicoEspecialidad] ([id_medico_especialidad], [id_medico], [id_especialidad], [fecha_asignacion]) VALUES (1, 1, 1, CAST(N'2026-05-29T02:27:51.1433333' AS DateTime2))
INSERT [dbo].[MedicoEspecialidad] ([id_medico_especialidad], [id_medico], [id_especialidad], [fecha_asignacion]) VALUES (2, 2, 2, CAST(N'2026-05-29T02:27:51.1466667' AS DateTime2))
INSERT [dbo].[MedicoEspecialidad] ([id_medico_especialidad], [id_medico], [id_especialidad], [fecha_asignacion]) VALUES (3, 3, 3, CAST(N'2026-05-29T02:27:51.1466667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[MedicoEspecialidad] OFF
GO
SET IDENTITY_INSERT [dbo].[Paciente] ON 

INSERT [dbo].[Paciente] ([id_paciente], [nombres], [apellidos], [genero], [fecha_nacimiento], [email], [telefono], [direccion], [imagen], [grupo_sanguineo], [contacto_emergencia], [telefono_emergencia], [alergias], [enfermedades_cronicas], [observaciones], [estado], [eliminado], [fecha_creacion], [fecha_actualizacion]) VALUES (1, N'MARIA', N'LOPEZ HUAMAN', N'F', CAST(N'1985-05-10' AS Date), N'maria.lopez@email.com', N'987654321', N'Av. Los Pinos 100', NULL, N'O+', N'Juan Lopez', N'987654322', N'Ninguna', NULL, NULL, 1, 0, CAST(N'2026-05-29T02:27:51.1533333' AS DateTime2), NULL)
INSERT [dbo].[Paciente] ([id_paciente], [nombres], [apellidos], [genero], [fecha_nacimiento], [email], [telefono], [direccion], [imagen], [grupo_sanguineo], [contacto_emergencia], [telefono_emergencia], [alergias], [enfermedades_cronicas], [observaciones], [estado], [eliminado], [fecha_creacion], [fecha_actualizacion]) VALUES (2, N'JOSE', N'QUISPE MAMANI', N'M', CAST(N'1990-12-01' AS Date), N'jose.quispe@email.com', N'987654322', N'Calle 2 de Mayo 200', NULL, N'A+', N'Ana Quispe', N'987654323', N'Penicilina', NULL, NULL, 1, 0, CAST(N'2026-05-29T02:27:51.1533333' AS DateTime2), NULL)
INSERT [dbo].[Paciente] ([id_paciente], [nombres], [apellidos], [genero], [fecha_nacimiento], [email], [telefono], [direccion], [imagen], [grupo_sanguineo], [contacto_emergencia], [telefono_emergencia], [alergias], [enfermedades_cronicas], [observaciones], [estado], [eliminado], [fecha_creacion], [fecha_actualizacion]) VALUES (3, N'ANA', N'RAMIREZ TORRES', N'F', CAST(N'1978-08-15' AS Date), N'ana.ramirez@email.com', N'987654323', N'Jr. El Sol 300', NULL, N'B-', N'Carlos Ramirez', N'987654324', N'Ninguna', NULL, NULL, 1, 0, CAST(N'2026-05-29T02:27:51.1533333' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Paciente] OFF
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([id_permiso], [nombre], [descripcion], [estado], [eliminado], [fecha_creacion]) VALUES (1, N'CREAR_USUARIO', N'Crear usuarios', 1, 0, CAST(N'2026-05-29T00:39:05.8700000' AS DateTime2))
INSERT [dbo].[Permiso] ([id_permiso], [nombre], [descripcion], [estado], [eliminado], [fecha_creacion]) VALUES (2, N'EDITAR_USUARIO', N'Editar usuarios', 1, 0, CAST(N'2026-05-29T00:39:05.8700000' AS DateTime2))
INSERT [dbo].[Permiso] ([id_permiso], [nombre], [descripcion], [estado], [eliminado], [fecha_creacion]) VALUES (3, N'ELIMINAR_USUARIO', N'Eliminar usuarios', 1, 0, CAST(N'2026-05-29T00:39:05.8700000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservacion] ON 

INSERT [dbo].[Reservacion] ([id_reserva], [titulo], [nota], [mensaje], [fecha_cita], [hora_cita], [sintomas], [observaciones], [precio], [creado_en], [estado], [eliminado], [id_paciente], [id_usuario], [id_medico], [id_pago], [id_estado]) VALUES (1, N'Consulta Cardiología', N'Paciente refiere dolor en el pecho', NULL, CAST(N'2026-05-05' AS Date), CAST(N'09:00:00' AS Time), N'Dolor torácico ocasional', NULL, CAST(150.00 AS Decimal(10, 2)), CAST(N'2026-05-29T02:27:51.2066667' AS DateTime2), 1, 0, 1, 2, 1, 1, 4)
INSERT [dbo].[Reservacion] ([id_reserva], [titulo], [nota], [mensaje], [fecha_cita], [hora_cita], [sintomas], [observaciones], [precio], [creado_en], [estado], [eliminado], [id_paciente], [id_usuario], [id_medico], [id_pago], [id_estado]) VALUES (2, N'Control Dermatología', N'Revisión de lunar', NULL, CAST(N'2026-05-10' AS Date), CAST(N'11:30:00' AS Time), N'Lunar con cambios', NULL, CAST(120.00 AS Decimal(10, 2)), CAST(N'2026-05-29T02:27:51.2066667' AS DateTime2), 1, 0, 2, 2, 2, 4, 4)
INSERT [dbo].[Reservacion] ([id_reserva], [titulo], [nota], [mensaje], [fecha_cita], [hora_cita], [sintomas], [observaciones], [precio], [creado_en], [estado], [eliminado], [id_paciente], [id_usuario], [id_medico], [id_pago], [id_estado]) VALUES (3, N'Pediatría Vacunas', N'Niño de 5 años', NULL, CAST(N'2026-05-12' AS Date), CAST(N'15:00:00' AS Time), N'Esquema de vacunación', NULL, CAST(90.00 AS Decimal(10, 2)), CAST(N'2026-05-29T02:27:51.2066667' AS DateTime2), 1, 0, 4, 2, 3, 5, 2)
SET IDENTITY_INSERT [dbo].[Reservacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([id_rol], [nombre], [descripcion], [estado], [eliminado], [fecha_creacion]) VALUES (1, N'ADMINISTRADOR', N'Control total', 1, 0, CAST(N'2026-05-29T00:39:05.8633333' AS DateTime2))
INSERT [dbo].[Rol] ([id_rol], [nombre], [descripcion], [estado], [eliminado], [fecha_creacion]) VALUES (2, N'MEDICO', N'Acceso medico', 1, 0, CAST(N'2026-05-29T00:39:05.8633333' AS DateTime2))
INSERT [dbo].[Rol] ([id_rol], [nombre], [descripcion], [estado], [eliminado], [fecha_creacion]) VALUES (3, N'RECEPCION', N'Gestion de citas', 1, 0, CAST(N'2026-05-29T00:39:05.8633333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[RolPermiso] ON 

INSERT [dbo].[RolPermiso] ([id_rol_permiso], [id_rol], [id_permiso]) VALUES (1, 1, 1)
INSERT [dbo].[RolPermiso] ([id_rol_permiso], [id_rol], [id_permiso]) VALUES (2, 1, 4)
INSERT [dbo].[RolPermiso] ([id_rol_permiso], [id_rol], [id_permiso]) VALUES (3, 2, 5)
SET IDENTITY_INSERT [dbo].[RolPermiso] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoPago] ON 

INSERT [dbo].[TipoPago] ([id_pago], [nombre], [descripcion], [estado], [eliminado], [fecha_creacion]) VALUES (1, N'EFECTIVO', N'Pago en efectivo', 1, 0, CAST(N'2026-05-29T00:45:17.6600000' AS DateTime2))
INSERT [dbo].[TipoPago] ([id_pago], [nombre], [descripcion], [estado], [eliminado], [fecha_creacion]) VALUES (2, N'TARJETA', N'Pago con tarjeta', 1, 0, CAST(N'2026-05-29T00:45:17.6600000' AS DateTime2))
INSERT [dbo].[TipoPago] ([id_pago], [nombre], [descripcion], [estado], [eliminado], [fecha_creacion]) VALUES (3, N'TRANSFERENCIA', N'Transferencia bancaria', 1, 0, CAST(N'2026-05-29T00:45:17.6600000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[TipoPago] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id_usuario], [username], [nombres], [apellidos], [email], [password_hash], [telefono], [direccion], [foto], [estado_activo], [eliminado], [fecha_creacion], [fecha_actualizacion]) VALUES (1, N'admin', N'Angel', N'Sanchez', N'admin@hospital.com', N'12345', NULL, NULL, NULL, 1, 0, CAST(N'2026-05-29T01:24:42.6733333' AS DateTime2), NULL)
INSERT [dbo].[Usuario] ([id_usuario], [username], [nombres], [apellidos], [email], [password_hash], [telefono], [direccion], [foto], [estado_activo], [eliminado], [fecha_creacion], [fecha_actualizacion]) VALUES (2, N'recepcion1', N'LUCIA', N'MORALES', N'lucia.morales@hospital.com', N'hospital', N'998877665', N'Oficina Recepción', NULL, 1, 0, CAST(N'2026-05-29T02:27:51.1633333' AS DateTime2), NULL)
INSERT [dbo].[Usuario] ([id_usuario], [username], [nombres], [apellidos], [email], [password_hash], [telefono], [direccion], [foto], [estado_activo], [eliminado], [fecha_creacion], [fecha_actualizacion]) VALUES (3, N'admin_juan', N'Juan', N'Pérez', N'jperez@hospital.com', N'hash_secure_1', N'987654321', N'Av. Central 123', NULL, 1, 0, CAST(N'2026-06-03T02:59:25.9333333' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[UsuarioRol] ON 

INSERT [dbo].[UsuarioRol] ([id_usuario_rol], [id_usuario], [id_rol], [fecha_asignacion]) VALUES (1, 1, 1, CAST(N'2026-05-29T01:24:42.6766667' AS DateTime2))
INSERT [dbo].[UsuarioRol] ([id_usuario_rol], [id_usuario], [id_rol], [fecha_asignacion]) VALUES (2, 2, 3, CAST(N'2026-05-29T02:27:51.1633333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[UsuarioRol] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Especial__72AFBCC6334BDC0A] Fecha de script: 3/06/2026 04:57:39 ******/
ALTER TABLE [dbo].[Especialidad] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Estado__72AFBCC655353059] Fecha de script: 3/06/2026 04:57:39 ******/
ALTER TABLE [dbo].[Estado] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Factura__3DC4B241F31ACF20] Fecha de script: 3/06/2026 04:57:39 ******/
ALTER TABLE [dbo].[Factura] ADD UNIQUE NONCLUSTERED 
(
	[numero_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Factura_Paciente] Fecha de script: 3/06/2026 04:57:39 ******/
CREATE NONCLUSTERED INDEX [IX_Factura_Paciente] ON [dbo].[Factura]
(
	[id_paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_HistoriaClinica_Medico] Fecha de script: 3/06/2026 04:57:39 ******/
CREATE NONCLUSTERED INDEX [IX_HistoriaClinica_Medico] ON [dbo].[HistoriaClinica]
(
	[id_medico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_HistoriaClinica_Paciente] Fecha de script: 3/06/2026 04:57:39 ******/
CREATE NONCLUSTERED INDEX [IX_HistoriaClinica_Paciente] ON [dbo].[HistoriaClinica]
(
	[id_paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Medico__AB6E61641C7D4BC2] Fecha de script: 3/06/2026 04:57:39 ******/
ALTER TABLE [dbo].[Medico] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Medico__D7470106EFCC73A5] Fecha de script: 3/06/2026 04:57:39 ******/
ALTER TABLE [dbo].[Medico] ADD UNIQUE NONCLUSTERED 
(
	[numero_colegiatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_MedicoEspecialidad] Fecha de script: 3/06/2026 04:57:39 ******/
ALTER TABLE [dbo].[MedicoEspecialidad] ADD  CONSTRAINT [UQ_MedicoEspecialidad] UNIQUE NONCLUSTERED 
(
	[id_medico] ASC,
	[id_especialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Paciente__AB6E6164AA6AE0E9] Fecha de script: 3/06/2026 04:57:39 ******/
ALTER TABLE [dbo].[Paciente] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Permiso__72AFBCC68337C429] Fecha de script: 3/06/2026 04:57:39 ******/
ALTER TABLE [dbo].[Permiso] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Reservacion_Estado] Fecha de script: 3/06/2026 04:57:39 ******/
CREATE NONCLUSTERED INDEX [IX_Reservacion_Estado] ON [dbo].[Reservacion]
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Reservacion_Fecha] Fecha de script: 3/06/2026 04:57:39 ******/
CREATE NONCLUSTERED INDEX [IX_Reservacion_Fecha] ON [dbo].[Reservacion]
(
	[fecha_cita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Reservacion_Medico] Fecha de script: 3/06/2026 04:57:39 ******/
CREATE NONCLUSTERED INDEX [IX_Reservacion_Medico] ON [dbo].[Reservacion]
(
	[id_medico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Reservacion_Paciente] Fecha de script: 3/06/2026 04:57:39 ******/
CREATE NONCLUSTERED INDEX [IX_Reservacion_Paciente] ON [dbo].[Reservacion]
(
	[id_paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Rol__72AFBCC610B1A74B] Fecha de script: 3/06/2026 04:57:39 ******/
ALTER TABLE [dbo].[Rol] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_RolPermiso] Fecha de script: 3/06/2026 04:57:39 ******/
ALTER TABLE [dbo].[RolPermiso] ADD  CONSTRAINT [UQ_RolPermiso] UNIQUE NONCLUSTERED 
(
	[id_rol] ASC,
	[id_permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__TipoPago__72AFBCC6875F5301] Fecha de script: 3/06/2026 04:57:39 ******/
ALTER TABLE [dbo].[TipoPago] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuario__AB6E616457EF1F08] Fecha de script: 3/06/2026 04:57:39 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuario__F3DBC572EBCB582F] Fecha de script: 3/06/2026 04:57:39 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_UsuarioRol] Fecha de script: 3/06/2026 04:57:39 ******/
ALTER TABLE [dbo].[UsuarioRol] ADD  CONSTRAINT [UQ_UsuarioRol] UNIQUE NONCLUSTERED 
(
	[id_usuario] ASC,
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Auditoria] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[Especialidad] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Especialidad] ADD  DEFAULT ((0)) FOR [eliminado]
GO
ALTER TABLE [dbo].[Especialidad] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Estado] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Estado] ADD  DEFAULT ((0)) FOR [eliminado]
GO
ALTER TABLE [dbo].[Estado] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Factura] ADD  DEFAULT (getdate()) FOR [fecha_factura]
GO
ALTER TABLE [dbo].[Factura] ADD  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[Factura] ADD  DEFAULT ((0)) FOR [igv]
GO
ALTER TABLE [dbo].[Factura] ADD  DEFAULT ((0)) FOR [total]
GO
ALTER TABLE [dbo].[Factura] ADD  DEFAULT ((0)) FOR [eliminado]
GO
ALTER TABLE [dbo].[HistoriaClinica] ADD  DEFAULT (getdate()) FOR [fecha_consulta]
GO
ALTER TABLE [dbo].[HistoriaClinica] ADD  DEFAULT ((0)) FOR [eliminado]
GO
ALTER TABLE [dbo].[HistoriaClinica] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[HorarioMedico] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[HorarioMedico] ADD  DEFAULT ((0)) FOR [eliminado]
GO
ALTER TABLE [dbo].[HorarioMedico] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Medico] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Medico] ADD  DEFAULT ((0)) FOR [eliminado]
GO
ALTER TABLE [dbo].[Medico] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[MedicoEspecialidad] ADD  DEFAULT (getdate()) FOR [fecha_asignacion]
GO
ALTER TABLE [dbo].[Paciente] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Paciente] ADD  DEFAULT ((0)) FOR [eliminado]
GO
ALTER TABLE [dbo].[Paciente] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Permiso] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Permiso] ADD  DEFAULT ((0)) FOR [eliminado]
GO
ALTER TABLE [dbo].[Permiso] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Reservacion] ADD  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[Reservacion] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Reservacion] ADD  DEFAULT ((0)) FOR [eliminado]
GO
ALTER TABLE [dbo].[Rol] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Rol] ADD  DEFAULT ((0)) FOR [eliminado]
GO
ALTER TABLE [dbo].[Rol] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[TipoPago] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[TipoPago] ADD  DEFAULT ((0)) FOR [eliminado]
GO
ALTER TABLE [dbo].[TipoPago] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [estado_activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [eliminado]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[UsuarioRol] ADD  DEFAULT (getdate()) FOR [fecha_asignacion]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD  CONSTRAINT [FK_DetalleFactura_Factura] FOREIGN KEY([id_factura])
REFERENCES [dbo].[Factura] ([id_factura])
GO
ALTER TABLE [dbo].[DetalleFactura] CHECK CONSTRAINT [FK_DetalleFactura_Factura]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Paciente] FOREIGN KEY([id_paciente])
REFERENCES [dbo].[Paciente] ([id_paciente])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Paciente]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Reservacion] FOREIGN KEY([id_reserva])
REFERENCES [dbo].[Reservacion] ([id_reserva])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Reservacion]
GO
ALTER TABLE [dbo].[HistoriaClinica]  WITH CHECK ADD  CONSTRAINT [FK_HistoriaClinica_Medico] FOREIGN KEY([id_medico])
REFERENCES [dbo].[Medico] ([id_medico])
GO
ALTER TABLE [dbo].[HistoriaClinica] CHECK CONSTRAINT [FK_HistoriaClinica_Medico]
GO
ALTER TABLE [dbo].[HistoriaClinica]  WITH CHECK ADD  CONSTRAINT [FK_HistoriaClinica_Paciente] FOREIGN KEY([id_paciente])
REFERENCES [dbo].[Paciente] ([id_paciente])
GO
ALTER TABLE [dbo].[HistoriaClinica] CHECK CONSTRAINT [FK_HistoriaClinica_Paciente]
GO
ALTER TABLE [dbo].[HistoriaClinica]  WITH CHECK ADD  CONSTRAINT [FK_HistoriaClinica_Reservacion] FOREIGN KEY([id_reserva])
REFERENCES [dbo].[Reservacion] ([id_reserva])
GO
ALTER TABLE [dbo].[HistoriaClinica] CHECK CONSTRAINT [FK_HistoriaClinica_Reservacion]
GO
ALTER TABLE [dbo].[HorarioMedico]  WITH CHECK ADD  CONSTRAINT [FK_HorarioMedico_Medico] FOREIGN KEY([id_medico])
REFERENCES [dbo].[Medico] ([id_medico])
GO
ALTER TABLE [dbo].[HorarioMedico] CHECK CONSTRAINT [FK_HorarioMedico_Medico]
GO
ALTER TABLE [dbo].[MedicoEspecialidad]  WITH CHECK ADD  CONSTRAINT [FK_MedicoEspecialidad_Especialidad] FOREIGN KEY([id_especialidad])
REFERENCES [dbo].[Especialidad] ([id_especialidad])
GO
ALTER TABLE [dbo].[MedicoEspecialidad] CHECK CONSTRAINT [FK_MedicoEspecialidad_Especialidad]
GO
ALTER TABLE [dbo].[MedicoEspecialidad]  WITH CHECK ADD  CONSTRAINT [FK_MedicoEspecialidad_Medico] FOREIGN KEY([id_medico])
REFERENCES [dbo].[Medico] ([id_medico])
GO
ALTER TABLE [dbo].[MedicoEspecialidad] CHECK CONSTRAINT [FK_MedicoEspecialidad_Medico]
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD  CONSTRAINT [FK_Reservacion_Estado] FOREIGN KEY([id_estado])
REFERENCES [dbo].[Estado] ([id_estado])
GO
ALTER TABLE [dbo].[Reservacion] CHECK CONSTRAINT [FK_Reservacion_Estado]
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD  CONSTRAINT [FK_Reservacion_Medico] FOREIGN KEY([id_medico])
REFERENCES [dbo].[Medico] ([id_medico])
GO
ALTER TABLE [dbo].[Reservacion] CHECK CONSTRAINT [FK_Reservacion_Medico]
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD  CONSTRAINT [FK_Reservacion_Paciente] FOREIGN KEY([id_paciente])
REFERENCES [dbo].[Paciente] ([id_paciente])
GO
ALTER TABLE [dbo].[Reservacion] CHECK CONSTRAINT [FK_Reservacion_Paciente]
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD  CONSTRAINT [FK_Reservacion_Pago] FOREIGN KEY([id_pago])
REFERENCES [dbo].[TipoPago] ([id_pago])
GO
ALTER TABLE [dbo].[Reservacion] CHECK CONSTRAINT [FK_Reservacion_Pago]
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD  CONSTRAINT [FK_Reservacion_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Reservacion] CHECK CONSTRAINT [FK_Reservacion_Usuario]
GO
ALTER TABLE [dbo].[RolPermiso]  WITH CHECK ADD  CONSTRAINT [FK_RolPermiso_Permiso] FOREIGN KEY([id_permiso])
REFERENCES [dbo].[Permiso] ([id_permiso])
GO
ALTER TABLE [dbo].[RolPermiso] CHECK CONSTRAINT [FK_RolPermiso_Permiso]
GO
ALTER TABLE [dbo].[RolPermiso]  WITH CHECK ADD  CONSTRAINT [FK_RolPermiso_Rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[Rol] ([id_rol])
GO
ALTER TABLE [dbo].[RolPermiso] CHECK CONSTRAINT [FK_RolPermiso_Rol]
GO
ALTER TABLE [dbo].[UsuarioRol]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRol_Rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[Rol] ([id_rol])
GO
ALTER TABLE [dbo].[UsuarioRol] CHECK CONSTRAINT [FK_UsuarioRol_Rol]
GO
ALTER TABLE [dbo].[UsuarioRol]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRol_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[UsuarioRol] CHECK CONSTRAINT [FK_UsuarioRol_Usuario]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD CHECK  (([precio_unitario]>=(0)))
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD CHECK  (([subtotal]>=(0)))
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD CHECK  (([estado_pago]='ANULADO' OR [estado_pago]='PAGADO' OR [estado_pago]='PENDIENTE'))
GO
ALTER TABLE [dbo].[HorarioMedico]  WITH CHECK ADD  CONSTRAINT [CHK_Horario] CHECK  (([hora_inicio]<[hora_fin]))
GO
ALTER TABLE [dbo].[HorarioMedico] CHECK CONSTRAINT [CHK_Horario]
GO
ALTER TABLE [dbo].[HorarioMedico]  WITH CHECK ADD CHECK  (([dia_semana]='DOMINGO' OR [dia_semana]='SABADO' OR [dia_semana]='VIERNES' OR [dia_semana]='JUEVES' OR [dia_semana]='MIERCOLES' OR [dia_semana]='MARTES' OR [dia_semana]='LUNES'))
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD CHECK  (([genero]='F' OR [genero]='M'))
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD CHECK  (([genero]='F' OR [genero]='M'))
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD CHECK  (([precio]>=(0)))
GO
USE [master]
GO
