/* =========================================================
   SISTEMA HOSPITALARIO EMPRESARIAL
   SQL SERVER
   VERSION PROFESIONAL DESDE CERO
========================================================= */

CREATE DATABASE Hospital;
GO

USE Hospital;
GO

/* =========================================================
   TABLA: ESTADO
========================================================= */

CREATE TABLE Estado (
    id_estado INT IDENTITY(1,1) PRIMARY KEY,

    nombre VARCHAR(50) NOT NULL UNIQUE,

    descripcion VARCHAR(255),

    estado BIT NOT NULL DEFAULT 1,

    eliminado BIT NOT NULL DEFAULT 0,

    fecha_creacion DATETIME2 NOT NULL DEFAULT GETDATE()
);
GO

/* =========================================================
   TABLA: TIPO_PAGO
========================================================= */

CREATE TABLE TipoPago (
    id_pago INT IDENTITY(1,1) PRIMARY KEY,

    nombre VARCHAR(100) NOT NULL UNIQUE,

    descripcion VARCHAR(255),

    estado BIT NOT NULL DEFAULT 1,

    eliminado BIT NOT NULL DEFAULT 0,

    fecha_creacion DATETIME2 NOT NULL DEFAULT GETDATE()
);
GO

/* =========================================================
   TABLA: ROL
========================================================= */

CREATE TABLE Rol (
    id_rol INT IDENTITY(1,1) PRIMARY KEY,

    nombre VARCHAR(50) NOT NULL UNIQUE,

    descripcion VARCHAR(255),

    estado BIT NOT NULL DEFAULT 1,

    eliminado BIT NOT NULL DEFAULT 0,

    fecha_creacion DATETIME2 NOT NULL DEFAULT GETDATE()
);
GO

/* =========================================================
   TABLA: PERMISO
========================================================= */

CREATE TABLE Permiso (
    id_permiso INT IDENTITY(1,1) PRIMARY KEY,

    nombre VARCHAR(100) NOT NULL UNIQUE,

    descripcion VARCHAR(255),

    estado BIT NOT NULL DEFAULT 1,

    eliminado BIT NOT NULL DEFAULT 0,

    fecha_creacion DATETIME2 NOT NULL DEFAULT GETDATE()
);
GO

/* =========================================================
   TABLA: USUARIO
========================================================= */

CREATE TABLE Usuario (
    id_usuario INT IDENTITY(1,1) PRIMARY KEY,
    username VARCHAR(50) NOT NULL UNIQUE,
    nombres VARCHAR(100) NOT NULL,
    apellidos VARCHAR(100) NOT NULL,
    email VARCHAR(255) NOT NULL UNIQUE,
    password_hash VARCHAR(255) NOT NULL,
    telefono VARCHAR(20),
    direccion VARCHAR(255),
    foto VARCHAR(255),
    estado_activo BIT NOT NULL DEFAULT 1,

    eliminado BIT NOT NULL DEFAULT 0,

    fecha_creacion DATETIME2 NOT NULL DEFAULT GETDATE(),

    fecha_actualizacion DATETIME2 NULL
);
GO

/* =========================================================
   TABLA: USUARIO_ROL
========================================================= */

CREATE TABLE UsuarioRol (
    id_usuario_rol INT IDENTITY(1,1) PRIMARY KEY,

    id_usuario INT NOT NULL,

    id_rol INT NOT NULL,

    fecha_asignacion DATETIME2 NOT NULL DEFAULT GETDATE(),

    CONSTRAINT FK_UsuarioRol_Usuario
        FOREIGN KEY(id_usuario)
        REFERENCES Usuario(id_usuario),

    CONSTRAINT FK_UsuarioRol_Rol
        FOREIGN KEY(id_rol)
        REFERENCES Rol(id_rol),

    CONSTRAINT UQ_UsuarioRol
        UNIQUE(id_usuario, id_rol)
);
GO

/* =========================================================
   TABLA: ROL_PERMISO
========================================================= */

CREATE TABLE RolPermiso (
    id_rol_permiso INT IDENTITY(1,1) PRIMARY KEY,

    id_rol INT NOT NULL,
    id_permiso INT NOT NULL,
    CONSTRAINT FK_RolPermiso_Rol
        FOREIGN KEY(id_rol)
        REFERENCES Rol(id_rol),

    CONSTRAINT FK_RolPermiso_Permiso
        FOREIGN KEY(id_permiso)
        REFERENCES Permiso(id_permiso),

    CONSTRAINT UQ_RolPermiso
        UNIQUE(id_rol, id_permiso)
);
GO

/* =========================================================
   TABLA: ESPECIALIDAD
========================================================= */

CREATE TABLE Especialidad (
    id_especialidad INT IDENTITY(1,1) PRIMARY KEY,
    nombre VARCHAR(100) NOT NULL UNIQUE,
    descripcion VARCHAR(255),
    estado BIT NOT NULL DEFAULT 1,
    eliminado BIT NOT NULL DEFAULT 0,
    fecha_creacion DATETIME2 NOT NULL DEFAULT GETDATE()
);
GO

/* =========================================================
   TABLA: MEDICO
========================================================= */

CREATE TABLE Medico (
    id_medico INT IDENTITY(1,1) PRIMARY KEY,

    nombres VARCHAR(100) NOT NULL,

    apellidos VARCHAR(100) NOT NULL,

    genero CHAR(1) NOT NULL
        CHECK (genero IN ('M','F')),

    fecha_nacimiento DATE NOT NULL,
    email VARCHAR(255) NOT NULL UNIQUE,
    telefono VARCHAR(20),
    direccion VARCHAR(255),
    imagen VARCHAR(255),
    numero_colegiatura VARCHAR(50) UNIQUE,
    estado BIT NOT NULL DEFAULT 1,

    eliminado BIT NOT NULL DEFAULT 0,

    fecha_creacion DATETIME2 NOT NULL DEFAULT GETDATE(),

    fecha_actualizacion DATETIME2 NULL
);
GO

/* =========================================================
   TABLA: MEDICO_ESPECIALIDAD
========================================================= */

CREATE TABLE MedicoEspecialidad (
    id_medico_especialidad INT IDENTITY(1,1) PRIMARY KEY,

    id_medico INT NOT NULL,

    id_especialidad INT NOT NULL,

    fecha_asignacion DATETIME2 NOT NULL DEFAULT GETDATE(),

    CONSTRAINT FK_MedicoEspecialidad_Medico
        FOREIGN KEY(id_medico)
        REFERENCES Medico(id_medico),

    CONSTRAINT FK_MedicoEspecialidad_Especialidad
        FOREIGN KEY(id_especialidad)
        REFERENCES Especialidad(id_especialidad),

    CONSTRAINT UQ_MedicoEspecialidad
        UNIQUE(id_medico, id_especialidad)
);
GO

/* =========================================================
   TABLA: HORARIO_MEDICO
========================================================= */

CREATE TABLE HorarioMedico (
    id_horario INT IDENTITY(1,1) PRIMARY KEY,

    id_medico INT NOT NULL,

    dia_semana VARCHAR(20) NOT NULL
        CHECK (dia_semana IN (
            'LUNES',
            'MARTES',
            'MIERCOLES',
            'JUEVES',
            'VIERNES',
            'SABADO',
            'DOMINGO'
        )),

    hora_inicio TIME NOT NULL,
    hora_fin TIME NOT NULL,
    estado BIT NOT NULL DEFAULT 1,
    eliminado BIT NOT NULL DEFAULT 0,

    fecha_creacion DATETIME2 NOT NULL DEFAULT GETDATE(),

    CONSTRAINT FK_HorarioMedico_Medico
        FOREIGN KEY(id_medico)
        REFERENCES Medico(id_medico),

    CONSTRAINT CHK_Horario
        CHECK (hora_inicio < hora_fin)
);
GO

/* =========================================================
   TABLA: PACIENTE
========================================================= */

CREATE TABLE Paciente (
    id_paciente INT IDENTITY(1,1) PRIMARY KEY,
    nombres VARCHAR(100) NOT NULL,
    apellidos VARCHAR(100) NOT NULL,
    genero CHAR(1)
        CHECK (genero IN ('M','F')),

    fecha_nacimiento DATE NOT NULL,
    email VARCHAR(255) UNIQUE,
    telefono VARCHAR(20),
    direccion VARCHAR(255),
    imagen VARCHAR(255),
    grupo_sanguineo VARCHAR(5),
    contacto_emergencia VARCHAR(100),
    telefono_emergencia VARCHAR(20),
    alergias VARCHAR(MAX),
    enfermedades_cronicas VARCHAR(MAX),
    observaciones VARCHAR(MAX),
    estado BIT NOT NULL DEFAULT 1,
    eliminado BIT NOT NULL DEFAULT 0,

    fecha_creacion DATETIME2 NOT NULL DEFAULT GETDATE(),

    fecha_actualizacion DATETIME2 NULL
);
GO

/* =========================================================
   TABLA: RESERVACION
========================================================= */

CREATE TABLE Reservacion (
    id_reserva INT IDENTITY(1,1) PRIMARY KEY,

    titulo VARCHAR(150) NOT NULL,
    nota VARCHAR(MAX),
    mensaje VARCHAR(MAX),
    fecha_cita DATE NOT NULL,
    hora_cita TIME NOT NULL,
    sintomas VARCHAR(MAX),
    observaciones VARCHAR(MAX),
    precio DECIMAL(10,2) NOT NULL
        CHECK (precio >= 0),

    creado_en DATETIME2 NOT NULL DEFAULT GETDATE(),
    estado BIT NOT NULL DEFAULT 1,
    eliminado BIT NOT NULL DEFAULT 0,
    id_paciente INT NOT NULL,
    id_usuario INT NOT NULL,

    id_medico INT NOT NULL,
    id_pago INT NOT NULL,
    id_estado INT NOT NULL,

    CONSTRAINT FK_Reservacion_Paciente
        FOREIGN KEY(id_paciente)
        REFERENCES Paciente(id_paciente),

    CONSTRAINT FK_Reservacion_Usuario
        FOREIGN KEY(id_usuario)
        REFERENCES Usuario(id_usuario),

    CONSTRAINT FK_Reservacion_Medico
        FOREIGN KEY(id_medico)
        REFERENCES Medico(id_medico),

    CONSTRAINT FK_Reservacion_Pago
        FOREIGN KEY(id_pago)
        REFERENCES TipoPago(id_pago),

    CONSTRAINT FK_Reservacion_Estado
        FOREIGN KEY(id_estado)
        REFERENCES Estado(id_estado)
);
GO

/* =========================================================
   TABLA: HISTORIA_CLINICA
========================================================= */

CREATE TABLE HistoriaClinica (
    id_historia INT IDENTITY(1,1) PRIMARY KEY,
    id_paciente INT NOT NULL,
    id_medico INT NOT NULL,
    id_reserva INT NULL,
    fecha_consulta DATETIME2 NOT NULL DEFAULT GETDATE(),
    motivo_consulta VARCHAR(MAX) NOT NULL,
    diagnostico VARCHAR(MAX),
    tratamiento VARCHAR(MAX),
    receta_medica VARCHAR(MAX),
    observaciones VARCHAR(MAX),
    peso DECIMAL(5,2),
    altura DECIMAL(5,2),
    temperatura DECIMAL(4,2),
    presion_arterial VARCHAR(20),
    frecuencia_cardiaca INT,
    saturacion_oxigeno INT,
    eliminado BIT NOT NULL DEFAULT 0,
    fecha_creacion DATETIME2 NOT NULL DEFAULT GETDATE(),

    CONSTRAINT FK_HistoriaClinica_Paciente
        FOREIGN KEY(id_paciente)
        REFERENCES Paciente(id_paciente),

    CONSTRAINT FK_HistoriaClinica_Medico
        FOREIGN KEY(id_medico)
        REFERENCES Medico(id_medico),

    CONSTRAINT FK_HistoriaClinica_Reservacion
        FOREIGN KEY(id_reserva)
        REFERENCES Reservacion(id_reserva)
);
GO

/* =========================================================
   TABLA: FACTURA
========================================================= */

CREATE TABLE Factura (
    id_factura INT IDENTITY(1,1) PRIMARY KEY,
    numero_factura VARCHAR(50) NOT NULL UNIQUE,
    id_paciente INT NOT NULL,
    id_reserva INT NULL,
    fecha_factura DATETIME2 NOT NULL DEFAULT GETDATE(),
    subtotal DECIMAL(10,2) NOT NULL DEFAULT 0,
    igv DECIMAL(10,2) NOT NULL DEFAULT 0,
    total DECIMAL(10,2) NOT NULL DEFAULT 0,
    estado_pago VARCHAR(20) NOT NULL
        CHECK (estado_pago IN (
            'PENDIENTE',
            'PAGADO',
            'ANULADO'
        )),

    eliminado BIT NOT NULL DEFAULT 0,

    CONSTRAINT FK_Factura_Paciente
        FOREIGN KEY(id_paciente)
        REFERENCES Paciente(id_paciente),

    CONSTRAINT FK_Factura_Reservacion
        FOREIGN KEY(id_reserva)
        REFERENCES Reservacion(id_reserva)
);
GO

/* =========================================================
   TABLA: DETALLE_FACTURA
========================================================= */

CREATE TABLE DetalleFactura (
    id_detalle INT IDENTITY(1,1) PRIMARY KEY,
    id_factura INT NOT NULL,
    descripcion VARCHAR(255) NOT NULL,
    cantidad INT NOT NULL
        CHECK (cantidad > 0),

    precio_unitario DECIMAL(10,2) NOT NULL
        CHECK (precio_unitario >= 0),

    subtotal DECIMAL(10,2) NOT NULL
        CHECK (subtotal >= 0),

    CONSTRAINT FK_DetalleFactura_Factura
        FOREIGN KEY(id_factura)
        REFERENCES Factura(id_factura)
);
GO

/* =========================================================
   TABLA: AUDITORIA
========================================================= */

CREATE TABLE Auditoria (
    id_auditoria INT IDENTITY(1,1) PRIMARY KEY,
    tabla VARCHAR(100) NOT NULL,
    accion VARCHAR(20) NOT NULL,
    usuario_bd VARCHAR(100) NOT NULL,
    fecha DATETIME2 NOT NULL DEFAULT GETDATE(),
    datos_anteriores NVARCHAR(MAX),
    datos_nuevos NVARCHAR(MAX)
);
GO

/* =========================================================
   INDICES
========================================================= */

CREATE INDEX IX_Reservacion_Fecha
ON Reservacion(fecha_cita);

CREATE INDEX IX_Reservacion_Medico
ON Reservacion(id_medico);

CREATE INDEX IX_Reservacion_Paciente
ON Reservacion(id_paciente);

CREATE INDEX IX_Reservacion_Estado
ON Reservacion(id_estado);

CREATE INDEX IX_HistoriaClinica_Paciente
ON HistoriaClinica(id_paciente);

CREATE INDEX IX_HistoriaClinica_Medico
ON HistoriaClinica(id_medico);

CREATE INDEX IX_Factura_Paciente
ON Factura(id_paciente);

GO

/* =========================================================
   TRIGGER AUDITORIA MEDICO
========================================================= */

CREATE TRIGGER TR_Medico_Auditoria
ON Medico
AFTER INSERT, UPDATE, DELETE
AS
BEGIN

    SET NOCOUNT ON;

    -- INSERT
    IF EXISTS (SELECT * FROM inserted)
       AND NOT EXISTS (SELECT * FROM deleted)
    BEGIN
        INSERT INTO Auditoria (
            tabla,
            accion,
            usuario_bd,
            datos_nuevos
        )
        SELECT
            'Medico',
            'INSERT',
            SYSTEM_USER,

            CONCAT(
                'ID=', id_medico,
                ', Nombre=', nombres,
                ', Email=', email
            )

        FROM inserted;
    END

    -- UPDATE
    IF EXISTS (SELECT * FROM inserted)
       AND EXISTS (SELECT * FROM deleted)
    BEGIN
        INSERT INTO Auditoria (
            tabla,
            accion,
            usuario_bd,
            datos_anteriores,
            datos_nuevos
        )
        SELECT
            'Medico',
            'UPDATE',
            SYSTEM_USER,

            CONCAT(
                'ANTES -> ID=', d.id_medico,
                ', Nombre=', d.nombres,
                ', Email=', d.email
            ),

            CONCAT(
                'DESPUES -> ID=', i.id_medico,
                ', Nombre=', i.nombres,
                ', Email=', i.email
            )

        FROM inserted i
        INNER JOIN deleted d
            ON i.id_medico = d.id_medico;
    END

    -- DELETE
    IF EXISTS (SELECT * FROM deleted)
       AND NOT EXISTS (SELECT * FROM inserted)
    BEGIN
        INSERT INTO Auditoria (
            tabla,
            accion,
            usuario_bd,
            datos_anteriores
        )
        SELECT
            'Medico',
            'DELETE',
            SYSTEM_USER,

            CONCAT(
                'ID=', id_medico,
                ', Nombre=', nombres,
                ', Email=', email
            )

        FROM deleted;
    END

END;
GO


/* =========================================================
   DATOS INICIALES
========================================================= */

INSERT INTO Estado (
    nombre,
    descripcion
)
VALUES
('PENDIENTE', 'Cita pendiente'),
('CONFIRMADA', 'Cita confirmada'),
('CANCELADA', 'Cita cancelada'),
('ATENDIDA', 'Paciente atendido');
GO


INSERT INTO TipoPago (
    nombre,
    descripcion
)
VALUES
('EFECTIVO', 'Pago en efectivo'),
('TARJETA', 'Pago con tarjeta'),
('TRANSFERENCIA', 'Transferencia bancaria'),
('YAPE', 'Pago por Yape'),
('PLIN', 'Pago por Plin');
GO
select * from Permiso;
INSERT INTO Rol (
    nombre,
    descripcion
)
VALUES
('ADMINISTRADOR', 'Control total'),
('MEDICO', 'Acceso medico'),
('RECEPCION', 'Gestion de citas'),
('PACIENTE', 'Portal paciente');
GO

INSERT INTO Permiso (
    nombre,
    descripcion
)
VALUES
('CREAR_USUARIO', 'Crear usuarios'),
('EDITAR_USUARIO', 'Editar usuarios'),
('ELIMINAR_USUARIO', 'Eliminar usuarios'),
('VER_REPORTES', 'Ver reportes'),
('GESTIONAR_CITAS', 'Gestion de citas'),
('GESTIONAR_FACTURAS', 'Gestion de facturas');
GO
	

